Repository rstudio/rstudio-conf-2022-program, pull requests merged in 2022-07, with the labels that each got.

#25 Updated talk abstract, and speaker bio
  sessions/lightning-talks/making-awesome-automations-github-actions.md
Labels: updates: session, updates: speaker

#21 Update title, bio, etc.
  sessions/data-science-in-production/rapidly-building-secure-customer-facing.md
Labels: updates: session, updates: speaker

#23 Update project-immortality-github
  README.md
  sessions/data-quality/levelling-github-to-automate-powerful.md
  sessions/data-quality/project-immortality-github.md
Labels: updates: session, updates: speaker, updates: other

#27 update quilting-in-r-becoming-creative.md
  sessions/delightful-uses/quilting-in-r-becoming-creative.md
Labels: updates: session, updates: speaker

#26 Update lets-start-beginning-bits.md
  sessions/lightning-talks/lets-start-beginning-bits.md
Labels: updates: session, updates: speaker

#30 Update title, url, and abstract for Davis Vaughan
  sessions/lightning-talks/its-about-time.md
Labels: updates: session

#29 Liz Roten abstract, author bio, talk materials update
  sessions/makeovers/inheritance-upgrading-legacy-project-making.md
Labels: updates: session, updates: speaker

#32 Update teaching-bilingual-classes-tidymodels-scikit
  sessions/teaching-data-science/teaching-bilingual-classes-tidymodels-scikit.md
Labels: updates: session

#31 Update saving-1000-hours-rstudio
  sessions/makeovers/saving-1000-hours-rstudio.md
Labels: updates: session

#33 Update title name
  sessions/bringing-people-together/leveraging-r-based-ecosystem.md
Labels: updates: session

#34 Update integrated-workflow-azure-devops-rstudio.md
  sessions/rapid-response/integrated-workflow-azure-devops-rstudio.md
Labels: updates: session, updates: speaker

#35 Changed title and abstract
  sessions/data-science-in-production/rapidly-building-secure-customer-facing.md
Labels: updates: session

#37 Update bad-data-what-to-do.md
  sessions/data-quality/bad-data-what-to-do.md
Labels: updates: session

#36 Update title and content
  sessions/shiny-app-design/dashboard-builder-making-truly-interactive.md
Labels: updates: session, updates: other

#41 Replace shinytest with shinytest2
  sessions/big-shiny-apps/robust-framework-for-automated-shiny.md
Labels: updates: session

#39 change talk title
  sessions/shiny-app-design/whats-new-in-shiny-ui.md
Labels: updates: session, updates: other

#40 Updates to cracking open ggplot internals with {ggtrace}
  sessions/advanced-r/cracking-open-ggplot-internals-ggtrace.md
Labels: updates: session

#42 Update creating-data-input-platform-using.md
  sessions/makeovers/creating-data-input-platform-using.md
Labels: updates: session, updates: speaker

#43 Update making-data-pipelines-in-r.md
  sessions/data-quality/making-data-pipelines-in-r.md
Labels: updates: session, updates: speaker

#47 Update cultivating-r-ecosystem-solo-contributor.md
  sessions/working-with-code/cultivating-r-ecosystem-solo-contributor.md
Labels: updates: session

#44 lowndes edits - bio, talk-title, abstract
  sessions/keynote/collaborate-with-quarto.md
Labels: updates: session, updates: speaker, updates: other

#45 Finalize "Good practices for applied machine learning"
  sessions/keynote/applied-machine-learning.md
Labels: updates: session, updates: speaker

#52 Update quarto-for-rmarkdown-users.md
  sessions/rmarkdown-quarto/quarto-for-rmarkdown-users.md
Labels: updates: session, updates: other

#51 Finalize "Data science training..." keynote abstract and bio
  sessions/keynote/data-science-training.md
Labels: updates: session, updates: speaker

#55 Add link to WTF R business materials
  sessions/wtf-career/wtf-teach-you-starting-business.md
Labels: updates: session

#54 New abstract for talk "A new way to build your Shiny app's UI"
  sessions/shiny-app-design/new-way-to-build-shiny.md
Labels: updates: session

#56 Updating Eric's Bio
  sessions/unexpected-uses/touch-of-r-in-robotics.md
Labels: updates: speaker

#61 Update shiny-dashboards-for-biomedical-research.md
  sessions/working-with-code/shiny-dashboards-for-biomedical-research.md
Labels: updates: session
